

<div class="container">
    <div *ngIf="error">
      <p>Ha ocurrido un error: {{error}}</p>
    </div>
  <div *ngIf="!authorised">
    <div>
      <h3>Entrar usando nombre de usuario y clave</h3>
      <form  #userForm="ngForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Nombre de usuario</label>
          <input type="text" class="form-control" id="username"
                  required
                  [(ngModel)]="username" name="username"
                  #usernameInput="ngModel">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password"
                  required
                  [(ngModel)]="password" name="password"
                  #passwordInput="ngModel">
        </div>
    
        <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Iniciar sesion</button>
      </form>
    </div>

    <div>
      <h3 class="mt-4 mb-3">Entrar usando cuenta de Google</h3>
      <form #oathForm="ngForm">
        <button type="submit" class="btn btn-success" (click)="googleLogin()" [disabled]="!oathForm.form.valid">Log in with google</button>
      </form>
    </div>

  </div>

  <div *ngIf="authorised">
    <div>
      <h1 class="mb-3">Pulsar para salir</h1>
      <form  #logoutForm="ngForm">
        <button type="submit" class="btn btn-success" (click)="logout()" [disabled]="!logoutForm.form.valid">Salir</button>
      </form>
    </div>
  </div>

</div>

