

<div class="container">
    <div *ngIf="error">
      <p class="bg-danger" style="color:white">Ops!! This happened: {{error}}</p>
    </div>
  <div *ngIf="authorised == false">
    <div>
      <h3>Log In with Username and Password</h3>
      <form  #userForm="ngForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username"
                  required
                  [(ngModel)]="username" name="username"
                  #usernameInput="ngModel">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password"
                  required
                  [(ngModel)]="password" name="password"
                  #passwordInput="ngModel">
        </div>
    
        <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Let's go!</button>
      </form>
    </div>

    <div>
      <h3 class="mt-4 mb-3">Log In with your Google account</h3>
      <form #oathForm="ngForm">
        <button type="submit" class="btn btn-success" (click)="googleLogin()" [disabled]="!oathForm.form.valid">Log in with google</button>
      </form>
    </div>

  </div>

  <div *ngIf="authorised == true">
    <div>
      <h1 class="mb-3">Click to Log Out</h1>
      <form  #logoutForm="ngForm">
        <button type="submit" class="btn btn-success" (click)="logout()" [disabled]="!logoutForm.form.valid">Here</button>
      </form>
    </div>
  </div>

</div>

