
<div *ngIf="error">{{error}}</div>
<div *ngIf="authorised">
  <div class="container">
    <h1>Crear post</h1>
    
    <form #mapForm="ngForm">
      
      <div class="form-group">
        <label for="titleinput">Titulo</label>
        <input type="text" class="form-control" id="titleinput"
                [(ngModel)]="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="locationinput">Localizacion</label>
        <input type="text" class="form-control" id="locationinput"
                [(ngModel)]="locationName" name="location"
                (keyup.enter)="getCoordinates()" on-focusout="getCoordinates()" required>
        <button type="button" class="btn btn-default mt-3" (click)="getCoordinates()">Encontrar</button>
      </div>
      <div *ngIf="formatedAddress">{{formatedAddress}}</div>
      <img *ngIf="codeCountry" src="http://www.countryflags.io/{{codeCountry}}/flat/32.png">

      <div [hidden]="!mapShown" #gmap style="width:100%; padding-bottom:50%" class="mb-3"></div>

      <!-- <div class="form-group">
        <label for="userPhotoId">Tomar fotografia o anadir imagen</label>
        <input type="file" id="userPhotoId"
                [(ngModel)]="userPhoto" name="userPhotoModel"
                (change)="setPhotoFile($event)">         
      </div> -->

      <div class="form-group">
        <label for="userPhotoId">Tomar fotografia o anadir imagen</label>
        <input type="file" class="btn btn-primary" id="userPhotoId" accept="image/*" multiple
                [(ngModel)]="userPhoto" name="userPhotoModel"
                (change)="setPhotoFile($event)" required>         
      </div>

      <div class="form-group">
        <label for="descriptioninput">Descripcion</label>
        <textarea  type="text" class="form-control" id="descriptioninput"
                [(ngModel)]="description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="urlinput">Link a articulo</label>
        <input type="text" class="form-control" id="urlinput"
                [(ngModel)]="url" name="url">
      </div>

      <button type="button" class="btn btn-success" (click)="getSignedRequestPhoto()"
       [disabled]="!mapForm.form.valid">Crear Post</button>
    </form>
  </div>
</div>

<div *ngIf="!authorised">
  <div class="row row-centered">
    <a class="btn btn-success mx-auto" routerLink="/">Inicia sesion o registrate para iniciar sesion</a>
  </div>  
</div>



