
<div *ngIf="authorised && !error">
  <div class="container">
    <h1>Crear post</h1>
    
    <form #mapForm="ngForm">
      
      <div class="form-group">
        <label for="titleinput">Titulo</label>
        <input type="text" class="form-control" id="titleinput"
                [(ngModel)]="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="locationinput">Localizacion</label>
        <input type="text" class="form-control" id="locationinput"
                [(ngModel)]="locationName" name="location"
                (keyup.enter)="getCoordinates()" on-focusout="getCoordinates()" required>
        <button type="button" class="btn btn-default mt-3" (click)="getCoordinates()">Encontrar</button>
      </div>
      <div *ngIf="formatedAddress">{{formatedAddress}}</div>
      <img *ngIf="codeCountry" src="http://www.countryflags.io/{{codeCountry}}/flat/32.png">

      <div [hidden]="!mapShown" #gmap style="width:100%; padding-bottom:50%" class="mb-3"></div>

      <div class="row">
        <div class="col">
            <img class="mb-3" src={{imageURLToDisplay}} style="max-height: 500px">
        </div>        
      </div>

      <div class="form-group">
        <label *ngIf="!imageURLToDisplay" for="userPhotoId">Anadir fotografia al post</label>
        <label *ngIf="imageURLToDisplay" for="userPhotoId">Cambiar imagen del post</label>
        <input type="file" class="btn btn-primary" id="userPhotoId" accept="image/*" multiple
                [(ngModel)]="userPhoto" name="userPhotoModel"
                (change)="setPhotoFile($event)">         
      </div>

      <div class="form-group">
        <label for="descriptioninput">Descripcion</label>
        <textarea  type="text" class="form-control" id="descriptioninput"
                [(ngModel)]="description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="urlinput">Link a articulo</label>
        <input type="text" class="form-control" id="urlinput"
                [(ngModel)]="url" name="url">
      </div>

      <button type="button" class="btn btn-success" (click)="createPost()"
       [disabled]="!mapForm.form.valid || !imageURLToDisplay">Crear Post</button>
    </form>
  </div>
</div>

<div *ngIf="authorised == false && !error">
  <div class="row row-centered">
    <a class="btn btn-success mx-auto" routerLink="/">Inicia sesion o registrate para iniciar sesion</a>
  </div>  
</div>

<div *ngIf="error">
  <div class="row row-centered">
    <h5 *ngIf="error && error !== true" class="mx-auto mt-3 mb-5">{{error}}</h5>
  </div>  
  <div class="row row-centered mb-3">
    <button class="btn btn-success mx-auto" (click)="refresh()">Volver a cargar</button>
  </div>
  <div class="row row-centered">
    <a class="btn btn-success mx-auto" routerLink="/">Ir a pagina principal</a>
  </div>    
</div>



