

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="height:130px">
        <div class="row pt-1 pb-1 d-flex align-items-center h-100">
            <div class="" style="position: absolute; margin-left:15px; z-index: 100">
                <a routerLink="" style="z-index: 100">
                <img class="rounded list-inline" src="./assets/logo2.png" alt="quedesitios-logo" style="height:120px; width:145px; min-width: 60px"/>
                </a>             
            </div>
            <div class="col-12 text-center lead" style="margin-top:15px; margin-top:-5px; font-size: 35px"></div>
        </div>
    </div>
</div>
<div class="row h-100">
    <div class="col stripes"></div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="jumbotron jumbotron-fluid m-0 p-0 mt-5" style="opacity:0">
    <div class="container">
        <div class="row">
            <div class="col mt-5"><strong></strong></div>
        </div>
    </div>
</div>

<ng4-loading-spinner [threshold]="100"> </ng4-loading-spinner>