

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="height:70px">
        <div class="row pt-1 pb-1">
            <div class="" style="position: absolute; margin-left:15px; z-index: 100">
                <a routerLink="" style="z-index: 100">
                <img class="rounded list-inline img-thumbnail" src="./assets/logo_icon.png" alt="quedesitios-logo" style="height:60px; width:60px; min-width: 60px"/>
                </a>             
            </div>
            <div class="col-12 text-center lead" style="margin-top:15px"><strong>Keruapp</strong></div>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="jumbotron jumbotron-fluid m-0 p-0 mt-5" style="opacity:0">
    <div class="container">
        <div class="row">
            <div class="col mt-5"><strong></strong></div>
        </div>
    </div>
</div>

<ng4-loading-spinner [threshold]="100"> </ng4-loading-spinner>