
<div #gmap style="width:500px;height:300px"></div>

<div *ngIf="post"> 
  <div>
      <a routerLink="/user/{{post.username}}">User: {{post.username}}</a>
      <div>Title: {{post.title}}</div>
      <div>Description: {{post.description}}</div>      
      
      <form (ngSubmit)="onSubmit()" #postForm="ngForm">
        <div class="form-group">
          <label for="commentinput">Comment text</label>
          <input type="text" class="form-control" id="commentinput" [(ngModel)]="valueComment" name="comment">
        </div>
        <button type="button" class="btn btn-default" (click)="addComment()">Add Comment</button>
      </form>
  </div>


  <form #likeForm="ngForm" (ngSubmit)="likePost(likeForm.value)">
    <p *ngIf="postLiked">The user LIKES the post</p>
    <p *ngIf="!postLiked">The user doesn't like the post YET</p>
    <input type="hidden" name="postNumber" ngModel>
    <button type="submit" class="btn btn-default">Like</button>

  </form>

  <div *ngIf="comments">
    <div *ngFor="let comment of comments">{{comment.text}}</div>
  </div>

  <div>{{numLikesInPost}} likes this post</div>
</div>

  

