


<div *ngIf="post"> 
  <div class="container">

    <div class="row w-100 mb-1/">
      <blockquote class="blockquote">
        <h3>{{post.title}}</h3>
        <footer class="blockquote-footer"> <img src="http://www.countryflags.io/{{codeCountry}}/flat/64.png"> {{formatedAddress}}</footer>
      </blockquote>  
    </div>
    <div class="row">
      <img class="img-fluid" src={{imageURL}}>
    </div>
    <div class="row w-100">
      <div class="card w-50">
          <a class="card-body" routerLink="/user/{{post.username}}">User: {{post.username}}</a>  
      </div>
    </div>
    <div class="row w-100">
        <div class="card w-50">
            <div class="card-body" routerLink="/user/{{post.username}}">
              <p>{{post.description}}</p>
            </div>  
        </div>
      </div>
    
      
      
      
      
      <div>Description: {{post.description}}</div>      
      
      <form (ngSubmit)="onSubmit()" #postForm="ngForm">
        <div class="form-group">
          <label for="commentinput">Comment text</label>
          <input type="text" class="form-control" id="commentinput" [(ngModel)]="valueComment" name="comment">
        </div>
        <button type="button" class="btn btn-default" (click)="addComment()">Add Comment</button>
      </form>
  </div>


  <form #likeForm="ngForm" (ngSubmit)="likePost(likeForm.value)">
    <p *ngIf="postLiked">The user LIKES the post</p>
    <p *ngIf="!postLiked">The user doesn't like the post YET</p>
    <input type="hidden" name="postNumber" ngModel>
    <button type="submit" class="btn btn-default">Like</button>

  </form>

  <div *ngIf="comments">
    <div *ngFor="let comment of comments">{{comment.text}}</div>
  </div>

  <div>{{numLikesInPost}} likes this post</div>
</div>

  

