

<div *ngIf="post"> 
  <div class="container">

    <div class="row mb-1">    
      <h3 class="mx-auto">{{post.title}}</h3>
    </div>
    <div class="row mb-1">    
      <h5 class="mx-auto">{{formatedAddress}}</h5> 
    </div>
    <div class="row">    
      <img class="mx-auto" src="http://www.countryflags.io/{{codeCountry}}/flat/32.png"> 
    </div>
    <div class="row mt-2">
      <a class="mx-auto" routerLink="/user/{{post.username}}"><h5>Autor: {{post.username}}</h5></a>  
    </div>

    <form #showMap Form="ngForm" (ngSubmit)="toggleMap()">
      <div class="form-group mt-3">
        <button *ngIf="!mapShown" type="submit" class="btn btn-default">Mostrar mapa</button>
        <button *ngIf="mapShown" type="submit" class="btn btn-default">Esconder mapa</button>
      </div>
    </form>
    <div [hidden]="!mapShown" #gmap style="width:100%; padding-bottom:50%" class="mb-3"></div>

    <div class="row">
      <div class="col text-center">
          <img class="mb-3 mx-auto img-fluid" src={{imageURL}} alt='foto post {{formatedAddress}}' style="max-height: 500px">
      </div>        
    </div>  
    
    <div *ngIf="post.description" class="row w-100 mt-3 mb-3 mx-auto">
      <p class="mx-auto m-0">Descripcion del autor:</p>
    </div>
    <div *ngIf="post.description" class="card mx-auto" style="width: 100%;">
      <div class="card-header">
        {{post.description}}
      </div>
    </div>

    <form #likeForm="ngForm" (ngSubmit)="likePost(likeForm.value)">
      <div class="form-group mt-3">
        <p *ngIf="postLiked && authorised">Te gusta este post</p>
        <p *ngIf="!postLiked && authorised">Aun no te gusta este post</p>
        <input type="hidden" name="postNumber" ngModel>
        <button *ngIf="!postLiked && authorised" type="submit" class="btn btn-default">Me gusta</button>
        <button *ngIf="postLiked && authorised" type="submit" class="btn btn-default">Ya no me gusta</button>
        <div class="mt-3">A {{numLikesInPost}} usuarios les gusta este post</div>
      </div>
    </form>

    <div *ngIf="comments">
      <div class="row w-100 mt-3 mb-3 mx-auto">
        <p  *ngIf="comments.length > 0" class="mx-auto m-0">Comentarios:</p>
      </div>
  
      <div class="row mt-3 mb-3">
        <div class="col">
          <div *ngFor="let comment of comments" class="">
            <div class="mb-1" style="background-color: rgba(0, 0, 0, 0.1); padding: 10px">
              <div class="row" >
                <a class="col-sm-6" routerLink="/user/{{comment.username}}">{{comment.username}}  </a>
                <div class="col-sm-6 text-right" style=""><small>{{comment.dateCreated}}</small></div>
              </div>    
              <p style="margin-bottom:0px">{{comment.text}}</p>
            </div>           
          </div>
        </div>
      </div>
    </div>    
      
    <form *ngIf="authorised" #postForm="ngForm">
      <div class="form-group">
        <label for="commentinput">Deja un comentario</label>
        <textarea type="text" class="form-control" id="commentinput"
          [(ngModel)]="valueComment" name="comment" required></textarea>
      </div>
      <button [disabled]="!postForm.form.valid" 
      type="button" class="btn btn-default" (click)="addComment(); postForm.reset()" >Add Comment</button>
    </form>

  </div>
</div>

  

