

<div *ngIf="!authorised">
  <div class="container">
    <div [hidden]="submitted">
      <h1>Crear nuevo usuario</h1>

      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="username">Nombre de usuario <span class="text-danger">*campo necesario</span></label>
          <input type="text" class="form-control" id="username"
                  required
                  [(ngModel)]="model.username" name="username"
                  #username="ngModel">
          <div [hidden]="username.valid || username.pristine"
                class="alert alert-danger">
            El nombre de usuario es necesario
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password <span class="text-danger">*campo necesario</span></label>
          <input type="text" class="form-control" id="password"
                  required
                  [(ngModel)]="model.password" name="password"
                  #password="ngModel">
          <div [hidden]="password.valid || password.pristine"
                class="alert alert-danger">
            El password necesita un password
          </div>
        </div>
    
        <div class="form-group">
          <label for="description">Descripcion <span class="text-primary">*campo no necesario</span></label>
          <input type="text" class="form-control" id="description"
                  [(ngModel)]="model.description" name="description">
        </div>
    
        <div class="form-group">
          <label for="url">pagina web del usuario <span class="text-primary">*campo no necesario</span></label>
          <input type="text" class="form-control" id="url"
                  [(ngModel)]="model.url" name="url">
        </div>
    
        <button type="submit" class="btn btn-success" (click)="createUser()" [disabled]="!userForm.form.valid">Crear usuario</button>
        <button type="button" class="btn btn-default" (click)="createUser(); userForm.reset()">Borrar todo</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="authorised">
  <div class="row row-centered">
    <a class="btn btn-success mx-auto" routerLink="/">Ir a pagina principal</a>
  </div> 
  <div class="row row-centered">
    <p class="mx-auto mt-3">Estas en una sesion con el usuario: <strong>{{model.username}}</strong></p>
  </div>  
</div>
