

<div *ngIf="!authorised">
  <div class="container">
    <div [hidden]="submitted">
      <h1>Create New User</h1>

      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="username">Name <span class="text-danger">*necessary field</span></label>
          <input type="text" class="form-control" id="username"
                  required
                  [(ngModel)]="model.username" name="username"
                  #username="ngModel">
          <div [hidden]="username.valid || username.pristine"
                class="alert alert-danger">
            You need a name for your user :)
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password <span class="text-danger">*necessary field</span></label>
          <input type="text" class="form-control" id="password"
                  required
                  [(ngModel)]="model.password" name="password"
                  #password="ngModel">
          <div [hidden]="password.valid || password.pristine"
                class="alert alert-danger">
            Please, set a password
          </div>
        </div>
    
        <div class="form-group">
          <label for="description">Description <span class="text-primary"></span></label>
          <input type="text" class="form-control" id="description"
                  [(ngModel)]="model.description" name="description">
        </div>
    
        <div class="form-group">
          <label for="url">User's blog or website <span class="text-primary"></span></label>
          <input type="text" class="form-control" id="url"
                  [(ngModel)]="model.url" name="url">
        </div>
    
        <button type="submit" class="btn btn-success" (click)="createUser()" [disabled]="!userForm.form.valid">Create User</button>
        <button type="button" class="btn btn-default" (click)="createUser(); userForm.reset()">Clear Fields</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="authorised && !error">
  <div class="row row-centered">
    <a class="btn btn-success mx-auto" routerLink="/">Go to Home Page</a>
  </div> 
  <div class="row row-centered">
    <p class="mx-auto mt-3">You are in a session as: <strong>{{model.username}}</strong></p>
  </div>
</div>

<div *ngIf="error">
  <div class="row row-centered">
    <h5 *ngIf="error && error !== true" class="mx-auto mt-3 mb-5">{{error}}</h5>
  </div>  
  <div class="row row-centered mb-3">
    <button class="btn btn-success mx-auto" (click)="refresh()">Reload</button>
  </div>
  <div class="row row-centered">
    <a class="btn btn-success mx-auto" routerLink="/">Go to Home Page</a>
  </div>    
</div>
