
 

<div class="container">

  <h5 *ngIf="authorised" class="text-center"><strong>{{username}}</strong>, look for postcards or create new ones</h5>
  <h5 *ngIf="!authorised" class="text-center">Look for postcards or create new ones</h5>

  <div class="row w-100 mx-auto mt-4">
    <div *ngIf="!authorised" class="row w-100 mx-auto mb-2">
      <div class="float-right">
        <button  type="button" class="btn" routerLink="/userlogin">Log In</button>
        <button  type="button" class="btn ml-2" routerLink="/usercreate">Sign Up</button>
      </div>
    </div> 
    <div *ngIf="authorised" class="row w-100 mx-auto mb-2">
      <div class="col">
          <button  type="button" class="stampButton stampButtonProfile" routerLink="/usermodify"></button>
      </div>     


      <div class="col text-center">
          <button  type="button mx-auto" class="stampButton stampButtonCreatePostCard" routerLink="/postcreate"></button>
      </div>

      <div class="col  text-right">
          <button  type="button" class="stampButton stampButtonLogout" routerLink="/userlogin"></button>
      </div>

    
    </div>
    <div class="row w-100 mx-auto mb-2">
      <nav class="navbar navbar-expand-sm col-12">
        <form #listPostForm="ngForm" class="form-inline mx-auto w-100">
          <div class="input-group w-100">
            <input type="text" class="form-control" placeholder="e.g. castle road ventnor" 
              [(ngModel)]="locationName" name="location">
            <div class="input-group-prepend">
              <button class="btn input-group-text rounded-right" (click)="closestPosts()">Search</button>
            </div>
          </div>    
        </form>
      </nav>    
    </div> 
  </div>

  <div #gmapListPosts class="mb-3 mx-auto" [class.hidden]="mapHidden" style=" width:90%;padding-bottom:50%;"></div>    

  <h5 *ngIf="firstSearchNotDoneYet" class="text-center mb-3">These are the last postcards created</h5>
  <h5 *ngIf="!firstSearchNotDoneYet" class="text-center mb-3">Postcards by proximity</h5>
  <h5 *ngIf="errorLoadingPosts" class="text-center mb-3">{{errorLoadingPosts}}</h5>

  <!-- <div *ngIf="listPosts" class="card-columns">
    <div class="" *ngFor="let post of listPosts">
      <div class="card mb-2" style="width: 18rem;">   
        <img src="http://www.countryflags.io/{{post.codeCountry}}/flat/32.png" alt={{codeCountry}} style="position: absolute;">     
        <img class="card-img-top" src={{post.imageURL}} alt={{post.title}}>
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.formatedAddress}}  Likes: {{post.usersThatLikePost.length}}</p>
          <a routerLink="/post/{{post.idNumber}}" class="btn btn-primary">Ir al post</a>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Start of Card Columns Layout -->
  <div class="row">
    <div *ngIf="listPosts" class="card-columns">
      <div *ngFor="let post of listPosts">
        <a routerLink="/post/{{post.idNumber}}" class="card noBorderRadius" style="overflow: hidden; text-decoration: none; border: 0px">
          <img class="card-img-top noBorderRadius" src={{post.imageURL}} alt={{post.title}}>
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>            
            <p class="card-text">{{post.formatedAddress}}</p>
            <p>Likes {{post.likes}}</p>            
            <img src="http://www.countryflags.io/{{post.codeCountry}}/flat/32.png" alt={{codeCountry}} style="float: right;">
          </div>
        </a>
      </div>
    </div>
  </div>

</div>


       
     