
 

<div class="container">

  <h3 class="text-center">Busca lugares o crea los tuyos propios</h3>

  <div class="row w-100 mx-auto mt-4">
    <div *ngIf="!authorised" class="row w-100 mx-auto mb-2">
      <div class="float-right">
        <button  type="button" class="btn" routerLink="/userlogin">Log in</button>
        <button  type="button" class="btn ml-2" routerLink="/usercreate">Sign in</button>
      </div>
    </div> 
    <div *ngIf="authorised" class="row w-100 mx-auto mb-2">
      <button  type="button" class="btn col-sm-2" routerLink="/usermodify">User Profile</button>
      <div class="col-sm-1"></div>
      <button  type="button" class="btn col-sm-6" routerLink="/postcreate">Create new post</button>
      <div class="col-sm-1"></div>
      <button  type="button" class="col-sm-2 btn" routerLink="/userlogin">Log out</button>
    </div>
    <div class="row w-100 mx-auto mb-2">
      <nav class="navbar navbar-expand-sm col-12">
        <form  (ngSubmit)="onSubmit()" #listPostForm="ngForm" class="form-inline mx-auto w-100">
          <div class="input-group w-100">
            <input type="text" class="form-control" placeholder="ej: plaza quevedo madrid"  [(ngModel)]="locationName" name="location">
            <div class="input-group-prepend">
              <button class="btn input-group-text rounded-right" (click)="closestPosts()">Buscar</button>
            </div>
          </div>    
        </form>
      </nav>    
    </div> 
  </div>

  <div #gmapListPosts class="mb-3" style="width:100%; padding-bottom:50%;"></div>    


  <div *ngIf="listPosts" class="row w-100 justify-content-around">
    <div *ngFor="let post of listPosts">
      <div class="card mb-2" style="width: 18rem;">   
        <img src="http://www.countryflags.io/{{post.codeCountry}}/flat/32.png" alt={{codeCountry}} style="position: absolute;">     
        <img class="card-img-top" src={{post.imageURL}} alt={{post.title}}>
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.formatedAddress}}  Likes: {{post.usersThatLikePost.length}}</p>
          <a routerLink="/post/{{post.idNumber}}" class="btn btn-primary">Ir al post</a>
        </div>
      </div>
    </div>
  </div>

</div>
       
     