/* You can add global styles to this file, and also import other style files */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

body {
    background-color: rgb(252, 252, 252);
    background-image: url(./assets/paper2.jpg);
    background-repeat: repeat;
    color: #262626;
}

@font-face {
    font-family: typewriterFont;
    src: url(./assets/Adler.ttf);
}

*{
    font-family: typewriterFont;
}

.default-box {
    border: 1px solid black;
}
.stripes {
    top: -32px;
    height: 10px;
    background-image: url(./assets/stripes.png);
    background-repeat: repeat;
    background-color: white;
}
.jumbotron {
    padding:0px;
    background-image: url(./assets/paper1.jpg);
    background-repeat: repeat;  
}
.hidden {
    display: none;
}

.stampButton {
    height: 275px;
    width: 270px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 0px;
    background-color: transparent;
}

.stampButtonProfile {
    background-image: url(./assets/profile.png);
}
.stampButtonCreatePostCard {
    background-image: url(./assets/createpostcard.png);
}
.stampButtonLogout {
    background-image: url(./assets/logout.png);
}




