/* You can add global styles to this file, and also import other style files */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

body {
    background-color: rgb(252, 252, 252);
    background-image: url(./assets/paper2.jpg);
    background-repeat: repeat;
    color: #262626;
}

@font-face {
    font-family: typewriterFont;
    src: url(./assets/Adler.ttf);
}

@font-face {
    font-family: handtype;
    src: url(./assets/RockSalt.ttf);
}

*{
    font-family: typewriterFont;
}

.default-box {
    border: 1px solid black;
}
.stripes {
    top: -32px;
    height: 10px;
    background-image: url(./assets/stripes.png);
    background-repeat: repeat;
    background-color: white;
}
.jumbotron {
    padding:0px;
    background-image: url(./assets/paper1.jpg);
    background-repeat: repeat;  
}
.hidden {
    display: none;
}

.stampButton {
    height: 150px;
    width: 170px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

.stampButtonProfile {
    background-image: url(./assets/profile.png);
}
.stampButtonCreatePostCard {
    height: 150px;
    width: 230px;
    background-image: url(./assets/createpostcard.png);
}
.stampButtonLogout {
    height: 130px;
    width: 175px;
    background-image: url(./assets/logout.png);
}

.polaroid {
    border: 8px solid white; 
    transform: rotate(2deg);
    -webkit-box-shadow: 14px 13px 10px -5px rgba(125,125,125,0.95);
    -moz-box-shadow: 14px 13px 10px -5px rgba(125,125,125,0.95);
    box-shadow: 14px 13px 10px -5px rgba(125,125,125,0.95);
}

.polaroid2 {
    border: 8px solid white; 
    transform: rotate(-1deg);
    -webkit-box-shadow: 14px 13px 10px -5px rgba(125,125,125,0.95);
    -moz-box-shadow: 14px 13px 10px -5px rgba(125,125,125,0.95);
    box-shadow: 14px 13px 10px -5px rgba(125,125,125,0.95);
}

.card-body h5 {
    font-size: 1.6em;
    font-family: handtype;
}

.card-body p{
    color: black;
}

.wrinkled {
    background-image: url(./assets/wrinkled.png);
    background-size: 100% 100%;
    z-index: 100;
}

.noBorderRadius {
    border-radius: 0px;
    border: 8px solid white;
}





