/* You can add global styles to this file, and also import other style files */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

body {
    background-color: rgb(252, 252, 252);
    background-image: url(./assets/paper2.jpg);
    background-repeat: repeat;
}

@font-face {
    font-family: typewriterFont;
    src: url(./assets/Adler.ttf);
}

*{
    font-family: typewriterFont;
}

.default-box{
    border: 1px solid black;
}
.jumbotron {
    padding:0px;
    background-image: url(./assets/paper1.jpg);
    background-repeat: repeat;  
}
.hidden {
    display: none;
}

h1, h2, h3, h4, h6, p, button {
    color:#4d4d4d;
}

h5 {
    color: #000000;
}


