

<div *ngIf="!error && authorised">
  <div class="container">
    <div>
      <h1 class="mb-3">Modificar perfil</h1>
      <p>Usuario creado: <strong>{{model.dateCreated}}</strong></p>
      <p>Ultima vez modificado el: <strong>{{model.dateModified}}</strong></p>
      <p>Tus posts han recibido <strong>{{model.likes}}</strong> "me gusta"</p>
      
      <form #userForm="ngForm">
        <div class="form-group">
          <label for="username">Nombre</label>
          <input type="text" class="form-control" id="username"
                  [(ngModel)]="model.userName" name="username"
                  #username="ngModel">
        </div>

        <div class="row">
          <div class="col">
              <img class="mb-3" src={{model.imageURL}} alt='foto perfil {{model.username}}' style="max-height: 250px; max-width: 100%">
          </div>        
        </div>   
      
        <div class="form-group">
          <label for="userPhoto">Foto de perfil</label>
          <input type="file" id="userPhoto" accept="image/*" multiple
                  [(ngModel)]="model.userPhoto" name="userPhoto"
                  #userPhoto="ngModel" (change)="setPhotoFile($event)">         
        </div>

        <div class="form-group">
          <label for="password">Introduce un nuevo password si quieres cambiarlo</label>
          <input type="text" class="form-control" id="password"
                  [(ngModel)]="model.password" name="password"
                  #password="ngModel">
        </div>
    
        <div class="form-group">
          <label for="description">Tu descripcion</label>
          <textarea type="text" class="form-control" id="description"
                  [(ngModel)]="model.description" name="description"></textarea>
        </div>
    
        <div class="form-group">
          <label for="url">Pagina web</label>
          <input type="text" class="form-control" id="url"
                  [(ngModel)]="model.url" name="url">
        </div>
    
        <button type="submit" class="btn btn-success" (click)="sendUserUpdate()">Enviar y modificar</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="!authorised">
  <div class="row row-centered">
    <a class="btn btn-success mx-auto" routerLink="/">Inicia sesion o registrate para iniciar sesion</a>
  </div>  
</div>
