

<div *ngIf="!error">
  <div class="container">
    <div [hidden]="submitted">
      <h1>Modify current User</h1>
      <p>User created: {{model.dateCreated}}</p>
      <p>User modified: {{model.dateModified}}</p>
      <p>Likes in user's posts: {{model.likes}}</p>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" class="form-control" id="username"
                  [(ngModel)]="model.userName" name="username"
                  #username="ngModel">
          <div [hidden]="username.valid || username.pristine"
                class="alert alert-danger">
            User name is required
          </div>
        </div>


        <div class="form-group">
          <label for="userPhoto">Photo</label>
          <input type="file" id="userPhoto"
                  [(ngModel)]="model.userPhoto" name="userPhoto"
                  #userPhoto="ngModel" (change)="setPhotoFile($event)">         
        </div>




        <div class="form-group">
          <label for="password">Introduce new Password in case you want to change it</label>
          <input type="text" class="form-control" id="password"
                  [(ngModel)]="model.password" name="password"
                  #password="ngModel">
          <div [hidden]="password.valid || password.pristine"
                class="alert alert-danger">
            You must create a password for the new user
          </div>
        </div>
    
        <div class="form-group">
          <label for="description">User description</label>
          <input type="text" class="form-control" id="description"
                  [(ngModel)]="model.description" name="description">
        </div>
    
        <div class="form-group">
          <label for="url">Main user URL</label>
          <input type="text" class="form-control" id="url"
                  [(ngModel)]="model.url" name="url">
        </div>
    
        <button type="submit" class="btn btn-success" (click)="updateUser()" [disabled]="!userForm.form.valid">Submit</button>
        <!--<button type="button" class="btn btn-default" (click)="createUser(); userForm.reset()">Reset<-->
      </form>
    </div>
  </div>
</div>

<!-- document.getElementById("file-input").onchange = () => {
			const files = document.getElementById('file-input').files;
			const file = files[0];
			if(file == null){
			  return alert('No file selected.');
			}
			getSignedRequest(file);
		};

		function getSignedRequest(file){
			const xhr = new XMLHttpRequest();
			xhr.open('GET', `file/sign-s3?file-name=${file.name}&file-type=${file.type}`);
			xhr.onreadystatechange = () => {
			if(xhr.readyState === 4){
				if(xhr.status === 200){
					const response = JSON.parse(xhr.responseText);
					uploadFile(file, response.signedRequest, response.url);
				}
				else{
					alert('Could not get signed URL.');
				}
			}
			};
			xhr.send();
		}

		function uploadFile(file, signedRequest, url){
			const xhr = new XMLHttpRequest();
			xhr.open('PUT', signedRequest);
			xhr.onreadystatechange = () => {
			if(xhr.readyState === 4){
			    if(xhr.status === 200){
			        document.getElementById('preview').src = url;
			        document.getElementById('avatar-url').value = url;
			    }
			    else{
			        alert('Could not upload file.');
			    }
			}
			};
			xhr.send(file);
		} -->

<div *ngIf="authorised">
  <p>You are already logged</p>
</div>

<div [hidden]="!submitted">
  <h2>You submitted data for new user: {{ model.username }}</h2>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>