
<div *ngIf="!error">
  <div class="container">
    <h1 class="mb-3">Username: <strong>{{username}}</strong></h1>
    <p>Created at: <strong>{{dateCreated}}</strong></p>
    <p>Likes: <strong>{{likes}}</strong></p>

    <div class="row">
      <div class="col">
        <img class="mb-3 img-fluid" src={{imageURL}} alt='foto perfil {{username}}' style="max-height: 180px">
      </div>        
    </div>   

    <div class="row row-centered">
      <div class="col">
        <p><strong>Description</strong></p>  
      </div>     
    </div>
    <div class="row row-centered">
      <div class="col">
        <p>{{description}}</p>   
      </div>       
    </div>

    <div class="row row-centered">
      <div class="col">
        <p><strong>Blog or web site:      </strong><a target="_blank" (click)="toLink()">{{url}}</a></p>  
      </div>          
    </div>

    <div class="row">
      <div class="col">
        <div *ngIf="posts" class="card-columns">
          <div *ngFor="let post of posts">
            
            <!--<div class="card">
              <img src="http://www.countryflags.io/{{post.codeCountry}}/flat/32.png" alt={{codeCountry}} style="position: absolute;">
              <img class="card-img-top" src={{post.imageURL}} alt={{post.title}}>
              <div class="card-body">
                <h4 class="card-title">{{post.title}}  <small>Likes: {{post.usersThatLikePost.length}}</small></h4>
                <p class="card-text">{{post.formatedAddress}}</p>
                <a routerLink="/post/{{post.idNumber}}" class="btn btn-primary">Ir al post</a>
              </div>
            </div> -->

            <a routerLink="/post/{{post.idNumber}}" class="card noBorderRadius" style="overflow: hidden; text-decoration: none">
              <img class="card-img-top noBorderRadius" src={{post.imageURL}} alt={{post.title}}>
              <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>            
                <p class="card-text">{{post.formatedAddress}}</p>
                <p>Likes {{post.usersThatLikePost.length}}</p>     
                <img src="http://www.countryflags.io/{{post.codeCountry}}/flat/32.png" alt={{codeCountry}} style="float: right">       
              </div>
            </a>
                         
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div *ngIf="error">
  <div class="row row-centered">
    <h5 class="mx-auto mt-3 mb-5">Ooops!!! we couldn't retrieve this profile</h5>
    <h5 *ngIf="error && error !== true" class="mx-auto mt-3 mb-5">{{error}}</h5>
  </div>  
  <div class="row row-centered mb-3">
    <button class="btn btn-success mx-auto" (click)="refresh()">Reload</button>
  </div>
  <div class="row row-centered">
    <a class="btn btn-success mx-auto" routerLink="/">Go to Home Page</a>
  </div>    
</div>


