
<div *ngIf="!error">
  <div class="container">
    <h1 class="mb-3">Usuario: <strong>{{username}}</strong></h1>
    <p>Usuario creado: <strong>{{dateCreated}}</strong></p>
    <p>Ha recibido <strong>{{likes}}</strong> "me gusta"</p>

    <div class="row">
      <div class="col">
        <img class="mb-3 img-fluid" src={{imageURL}} alt='foto perfil {{username}}' style="max-height: 180px">
      </div>        
    </div>   

    <div class="row row-centered">
      <div class="col">
        <p><strong>Descripcion</strong></p>  
      </div>     
    </div>
    <div class="row row-centered">
      <div class="col">
        <p>{{description}}</p>   
      </div>       
    </div>

    <div class="row row-centered">
      <div class="col">
        <p><strong>Pagina web:      </strong><a target="_blank" (click)="toLink()">{{url}}</a></p>  
      </div>          
    </div>

    <div class="row">
      <div class="col">
        <div *ngIf="posts" class="card-columns">
          <div *ngFor="let post of posts">
                    

                    <a routerLink="/post/{{post.idNumber}}" class="card" style="overflow: hidden; text-decoration: none">
                      <img src="http://www.countryflags.io/{{post.codeCountry}}/flat/32.png" alt={{codeCountry}} style="position: absolute; top: -7px; left: -4px">
                      <img class="card-img-top" src={{post.imageURL}} alt={{post.title}}>
                      <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>            
                        <p class="card-text">{{post.formatedAddress}}</p>
                        <p>Likes {{post.likes}}</p>            
                      </div>
                    </a>
                         
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div *ngIf="error">
  <div class="row row-centered">
    <h5 class="mx-auto mt-3 mb-5">Se ha producido un error recuperando el perfil de usuario</h5>
    <h5 *ngIf="error && error !== true" class="mx-auto mt-3 mb-5">{{error}}</h5>
  </div>  
  <div class="row row-centered mb-3">
    <button class="btn btn-success mx-auto" (click)="refresh()">Volver a cargar</button>
  </div>
  <div class="row row-centered">
    <a class="btn btn-success mx-auto" routerLink="/">Ir a pagina principal</a>
  </div>    
</div>


